{
	email admin@finxol.io # For Let's Encrypt notifications

	servers {
		trusted_proxies static private_ranges
	}
}

{$SITE_ADDRESS} {
	log {
		output stdout
		format json
		level info
	}

	handle_path /api/* {
		reverse_proxy api:{$API_PORT}
	}

	handle {
		reverse_proxy web:{$WEB_PORT}
	}
}
