{
	email admin@finxol.io # For Let's Encrypt notifications

	servers {
		trusted_proxies static private_ranges
	}
}

{$SITE_ADDRESS} {
	log {
		output stdout
		format json
		level info
	}

	handle /.well-known/oauth-authorization-server {
		rewrite * /api/v1/auth/.well-known/oauth-authorization-server
		reverse_proxy auth:{$AUTH_PORT}
	}

	handle /.well-known/jwks.json {
		rewrite * /api/v1/auth/.well-known/jwks.json
		reverse_proxy auth:{$AUTH_PORT}
	}

	handle /api/v1/auth/* {
		reverse_proxy auth:{$AUTH_PORT}
	}

	handle {
		reverse_proxy web:{$WEB_PORT}
	}
}
