# Ignore everything, except...
*

# Pakcages
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!turbo.json

# Caddy server file
!Caddyfile

# Source
!apps/
!packages/
!tooling/
!patches/

!wait-for-it.sh
