# Optional eslint cache
.eslintcache

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
pass.txt

# Vim swap files
*.swp

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist
build-meta.json

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log
.pnpm-debug.log*

# Misc
.DS_Store
*.pem

# Caddy dev files
apps/caddy/data
apps/caddy/config
