{$HOST} {
	encode zstd gzip
	log {
		output file /data/access.log
		format json
		level info
	}
	handle_path /api/* {
		reverse_proxy api:{$API_PORT}
	}

	handle_path /* {
		respond "Hello World"
	}
}
