{$SITE_ADDRESS}

handle_path /api/* {
	reverse_proxy api:{$API_PORT}
}

handle_path /* {
	header Content-Type text/html
	respond "<div style='display:flex; justify-content:center; align-items:center; height:100vh; font-size:50rem; color:white;'>Karr 🚗</div>"
}
