{$SITE_ADDRESS}

log {
	output file /data/access.log
	format json
	level info
}

handle_path /api/* {
	reverse_proxy api:{$API_PORT}
}

handle_path /* {
	header Content-Type "text/html; charset=utf-8"
	respond "<div style='display:flex; justify-content:center; align-items:center; height:100vh; font-size:5rem; color:black;'>Karr 🚗</div>"
}
