@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "@karr/ui/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
    /* Accent colors */
    --color-accent-200: #aad7a0;
    --color-accent-600: var(--color-primary);
    --color-accent-900: #0d3e00;
    --color-accent-950: #072d00;

    /* Gray colors */
    --color-gray-100: #f4f7f3;
    --color-gray-200: #eaf0e8;
    --color-gray-300: #bdc4bb;
    --color-gray-400: #82907f;
    --color-gray-500: #4f5c4d;
    --color-gray-700: #303c2d;
    --color-gray-800: #111310;
    --color-gray-900: #080906;
}

img {
    border-radius: var(--radius-lg);
}

code {
    border-radius: var(--radius-md);
}
