h1,
h2,
h3 {
    line-height: 1;
    letter-spacing: var(--tracking-s);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    font-family: var(--font-baskervville);
}

h1 {
    font-size: var(--text-4xl);
}

h2 {
    font-size: var(--text-3xl);
}

h3 {
    font-size: var(--text-2xl);
}

h4 {
    font-size: var(--text-xl);
}

h5 {
    font-size: var(--text-lg);
}

h6 {
    font-size: var(--text-base);
}

p,
li,
blockquote:not([class]) {
    max-width: 50ch;
}

h1,
h2,
h3 {
    max-width: 20ch;
}

blockquote:not([class]) {
    font-family: var(--font-serif);
    font-size: var(--text-xl);
}

blockquote:not([class]) p:last-of-type {
    font-family: var(--font-base);
    font-size: var(--text-lg);
    font-weight: normal;
}

pre {
    overflow: scroll;
}

svg {
    height: 2ex;
    width: auto;
    flex: none;
}

a:hover {
    text-decoration: none;
}

:focus-visible {
    outline: 1px solid;
    outline-offset: 0.3ch;
}

:target {
    scroll-margin-top: 2ex;
}

.content-grid {
    --padding-inline: min(2%, 1.5rem);

    display: grid;
    grid-template-columns:
        [full-width-start] var(--padding-inline)
        [breakout-start] var(--padding-inline)
        [content-start] 1fr
        [content-end]
        var(--padding-inline) [breakout-end]
        var(--padding-inline) [full-width-end];
    justify-content: start;
    align-content: start;
    row-gap: calc(var(--spacing) * 4);
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
    grid-column: content;
}

.content-grid > .breakout {
    grid-column: breakout;
}

.content-grid > .full-width {
    grid-column: full-width;
}
