@layer base {
    /* Define a coherent green theme for shadcn/ui */

    :root {
        --background: hsl(140 20% 97%);
        --foreground: hsl(132 5% 10%);
        --card: hsl(132, 28%, 90%);
        --card-foreground: hsl(132 5% 15%);
        --popover: hsl(132 30% 97%);
        --popover-foreground: hsl(132 95% 10%);
        --primary: hsl(132 64% 32%);
        --primary-foreground: hsl(0 0% 100%);
        --secondary: hsl(132 30% 85%);
        --secondary-foreground: hsl(0 0% 0%);
        --muted: hsl(94 30% 85%);
        --muted-foreground: hsl(132 5% 40%);
        --accent: hsl(94 30% 85%);
        --accent-foreground: hsl(132 5% 15%);
        --destructive: hsl(0 50% 50%);
        --destructive-foreground: hsl(132 5% 90%);
        --border: hsl(132 30% 82%);
        --input: hsl(132 30% 85%);
        --ring: hsl(132 74% 32%);
        --radius: 0.7rem;
    }

    .dark {
        --background: hsl(132 2% 10%);
        --foreground: hsl(132 5% 90%);
        --card: hsl(132 15% 15%);
        --card-foreground: hsl(132 5% 90%);
        --popover: hsl(132 30% 6%);
        --popover-foreground: hsl(132 5% 90%);
        --primary: hsl(132 74% 32%);
        --primary-foreground: hsl(0 0% 100%);
        --secondary: hsl(132 30% 20%);
        --secondary-foreground: hsl(0 0% 100%);
        --muted: hsl(94 30% 25%);
        --muted-foreground: hsl(132 5% 65%);
        --accent: hsl(94 30% 15%);
        --accent-foreground: hsl(132 5% 90%);
        --destructive: hsl(0 50% 50%);
        --destructive-foreground: hsl(132 5% 90%);
        --border: hsl(132 30% 30%);
        --input: hsl(132 30% 15%);
        --ring: hsl(132 74% 32%);
    }
}

@theme {
    --font-family-poppins: var(--font-poppins);
    --font-family-inter: var(--font-inter);

    --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
        "Courier New", monospace;

    --color-mint-green: oklch(83.66% 0.125 176.45);
    --color-baby-blue: oklch(85.61% 0.094 225.87);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-header-background: var(--header-background);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);

    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;

    @keyframes accordion-down {
        from {
            height: 0;
        }
        to {
            height: var(--radix-accordion-content-height);
        }
    }

    @keyframes accordion-up {
        from {
            height: var(--radix-accordion-content-height);
        }
        to {
            height: 0;
        }
    }
}
