@layer base {
    :root {
        --background: oklch(0.9854 0.0014 157.24);
        --foreground: oklch(0.2176 0.0055 151.62);
        --header-background: oklch(0.9312 0.0215 151.66);
        --card: oklch(0.9931 0.0021 151.97);
        --card-foreground: oklch(0.2725 0.0078 151.57);
        --popover: oklch(0.9784 0.003421 151.9533);
        --popover-foreground: oklch(0.2756 0.0822 146.15);
        --primary: oklch(0.5438 0.1521 146.05);
        --primary-foreground: oklch(1 0 0);
        --secondary: oklch(0.8975 0.0348 151.41);
        --secondary-foreground: oklch(0 0 0);
        --muted: oklch(0.9487 0.0178 131.25);
        --muted-foreground: oklch(0.5168 0.0178 151.48);
        --accent: oklch(0.9487 0.0178 131.25);
        --accent-foreground: oklch(0.2725 0.0078 151.57);
        --destructive: oklch(0.5523 0.1637 24.21);
        --destructive-foreground: oklch(0.9248 0.0039 151.94);
        --border: oklch(0.8686 0.0211 151.64);
        --input: oklch(0.8975 0.0348 151.41);
        --ring: oklch(0.5649 0.1678 145.36);
        --radius: 0.7rem;
    }

    .dark {
        --background: oklch(0.1821 0.001619 151.8721);
        --foreground: oklch(0.9248 0.0039 151.94);
        --header-background: oklch(0.2791 0.023 150.69);
        --card: oklch(0.1613 0.0089 151.15);
        --card-foreground: oklch(0.9248 0.0039 151.94);
        --popover: oklch(0.1739 0.0104 151.07);
        --popover-foreground: oklch(0.9248 0.0039 151.94);
        --primary: oklch(0.5649 0.1678 145.36);
        --primary-foreground: oklch(1 0 0);
        --secondary: oklch(0.3486 0.0562 149.21);
        --secondary-foreground: oklch(1 0 0);
        --muted: oklch(0.3909 0.0343 131.9);
        --muted-foreground: oklch(0.7295 0.0143 151.71);
        --accent: oklch(0.2828 0.0224 131.81);
        --accent-foreground: oklch(0.9248 0.0039 151.94);
        --destructive: oklch(0.5523 0.1637 24.21);
        --destructive-foreground: oklch(0.9248 0.0039 151.94);
        --border: oklch(0.25 0.0193 110.6);
        --input: oklch(0.2909 0.0243 149.39);
        --ring: oklch(0.5649 0.1678 145.36);
    }
}

@theme {
    --font-family-poppins: var(--font-poppins);
    --font-family-inter: var(--font-inter);

    --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;

    --color-mint-green: oklch(83.66% 0.125 176.45);
    --color-baby-blue: oklch(85.61% 0.094 225.87);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-header-background: var(--header-background);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);

    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;

    @keyframes accordion-down {
        from {
            height: 0;
        }
        to {
            height: var(--radix-accordion-content-height);
        }
    }

    @keyframes accordion-up {
        from {
            height: var(--radix-accordion-content-height);
        }
        to {
            height: 0;
        }
    }
}
