{
	email admin@finxol.io # For Let's Encrypt notifications

	servers {
		trusted_proxies static private_ranges
	}
}

localhost:80 {
	log {
		output stdout
		format json
		level info
	}

	handle /.well-known/* {
		rewrite * /api/v1/auth{path}
		reverse_proxy api:{$API_PORT}
	}

	handle /api/* {
		reverse_proxy http://host.docker.internal:1993
	}

	handle {
		reverse_proxy http://host.docker.internal:3000
	}
}
