# Ignore everything, except...
*

# Pakcages
!package.json
!pnpm-lock.yaml

# Source
!src/
!drizzle.config.ts
!init.sh
!drizzle/

# ...but never include these files...
README.md
routes.md
.zed
.*ignore
